<nav class="navbar navbar-light navbar-expand-lg p-3">
    <div class="container-fluid">
        <a [routerLink]="['/list']" class="navbar-brand" href="#"><img width="200px"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/2560px-International_Pok%C3%A9mon_logo.svg.png"
                alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class=" collapse navbar-collapse text-center pt-3" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto ">
                <li class="nav-item h4">
                    <a [routerLink]="['/list']" class="nav-link mx-2 " aria-current="page" href="#">List</a>
                </li>
                <li class="nav-item h4">
                    <a [routerLink]="['/favorites']" class="nav-link mx-2" href="#">Favorites</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item mx-2 nav-link text-dark h5" (click)="layoutController()">
                    <img width="32px" class="invert" src="./assets/img/icons/{{layoutIcon}}.png">
                </li>

                <li class="nav-item mx-2 nav-link text-dark h5" (click)="modeController()">
                    <img width="30px" class="invert" src="./assets/img/icons/{{modeIcon}}.png">
                </li>
            </ul>
        </div>
    </div>
</nav>