<div class="d-flex justify-content-center ">
    <mat-paginator [showFirstLastButtons]="true" [length]="totalItems" [pageSize]="pageSize"
        [pageSizeOptions]="[10, 20, 50, 100]" (page)="onPageChange($event)" aria-label="Select page">
    </mat-paginator>
</div>

<div class=" d-flex justify-content-center container ">

    <div [ngSwitch]="layout" class="d-flex justify-content-center row pt-3 text-center align-items-center"
        style="width: 80%;">
        <table *ngSwitchCase="'table'" class="table align-middle table-bordered table-hover">
            <tbody *ngFor="let pokemon of list?.results; let i = index">
                <tr (click)="getResponsePokemon(pokemon.name)"  data-bs-toggle="modal"
                data-bs-target="#detailModal" *ngIf="i >= minIndex && i < maxIndex">
                    <td>#{{this.getIdFromUrl(pokemon.url)}}</td>
                    <td><img class="img-list" src="{{urlImg + this.getIdFromUrl(pokemon.url)}}.png" alt=""></td>
                    <td>{{pokemon.name | titlecase}}</td>
                </tr>
            </tbody>
        </table>

        <div *ngSwitchCase="'grid'" class="row text-center">
            <ng-container *ngFor="let pokemon of list?.results; let i = index">
                <div *ngIf="i >= minIndex && i < maxIndex" class="col-xl-3 col-lg-6 col-md-12 pt-4">
                    <div class="card text-right" (click)="getResponsePokemon(pokemon.name)" data-bs-toggle="modal"
                        data-bs-target="#detailModal">
                        <img class="card-img-top" src="{{urlImg + this.getIdFromUrl(pokemon.url)}}.png">
                        <div class="card-body">
                            <h5 class="card-title">#{{this.getIdFromUrl(pokemon.url)}}</h5>
                            <p class="card-text">{{pokemon.name | titlecase}}</p>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>

<!-- DetailModal -->
<div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="detailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content ">
            <div class="modal-header d-flex justify-content-center">
                <h1 class="modal-title fs-5 text-center" id="pokemonModalLabel">#{{pokemon?.id}} {{pokemon?.name | titlecase}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-lg-6 col-sm-12 px-4 d-flex align-items-center justify-content-center">
                    <img src="{{urlImg+pokemon?.id}}.png" class="img-fluid" alt="{{pokemon?.name}}">
                  </div>
                  <div class="col-lg-6 col-sm-12 d-flex justify-content-center">
                    <div class="d-flex">
                      <div class="col-sm-6 px-4 pt-4 ">
                        <h6>Type:</h6>
                        <ul>
                          <li *ngFor="let type of pokemon?.types">{{type.type.name | titlecase}} </li>
                        </ul>
                        <h6>Weight:</h6>
                        <ul>
                          <li>{{pokemon?.weight}} kg</li>
                        </ul>
                        <h6>Height:</h6>
                        <ul>
                          <li>{{pokemon?.height}} m</li>
                        </ul>
                      </div>
                      <div class="col-sm-6 px-4 pt-4 ">
                        <h6>Abilities:</h6>
                        <ul>
                          <li *ngFor="let ability of pokemon?.abilities">{{ability.ability.name | titlecase}}</li>
                        </ul>
                        <h6>Stats:</h6>
                        <ul>
                          <li *ngFor="let stat of pokemon?.stats">{{stat.stat.name | titlecase}}: {{stat.base_stat}} </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

<!--             <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                      <img src="{{urlImg+pokemon?.id}}.png" class="img-fluid" alt="{{pokemon?.name}}">
                    </div>
                    <div class="col-sm-6">
                      <h6>Type:</h6>
                      <ul>
                        <li *ngFor="let type of pokemon?.types">{{type.type.name}}</li>
                      </ul>
                      <h6>Weight:</h6>
                      <ul><li><p>{{pokemon?.weight}} kg</p></li></ul>
                      <h6>Height:</h6>
                      <ul><li><p>{{pokemon?.height}} m</p></li></ul>
                      <h6>Moves:</h6>
                      <ul class="two-column-list">
                        <li *ngFor="let move of pokemon?.moves">{{move.move.name}}</li>
                      </ul>
                    </div>
                  </div>
            </div> -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>