
:root {
    /* Base */
    --navbar-color-: #F5F3F3;
    --background-color:#FFFFFF;
    --text-color:#272626;
    --card-background: #F5F3F3;
    --mdc-typography-caption-font-size: 1em;
    --invert: invert(0%) 
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

.invert {
    filter: var(--invert)
}

a {
    color: var(--text-color) !important;
}

.card {
    background-color: var(--card-background) !important;
    transition: all 0.2s ease-out;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

tr {
    transition: all 0.2s ease-out;
}

tr:hover {
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    background-color: var(--card-background) !important;
    transform: translateY(-5px);
    transition: transform 0.3s ease-out;
}

.mat-mdc-paginator {
    font-family: 'Open Sans', sans-serif;
    /* Paginator background */
    background-color: var(--background-color);
    color: var(--text-color);
}

.mat-mdc-paginator-icon {
    /* Flechas usables  */
    fill: var(--text-color);
}

.mat-mdc-icon-button[disabled] .mat-mdc-paginator-icon {
    /* Flechas desabilitadas */
    fill: rgb(161, 172, 182);
}

.mat-mdc-select-value {
    /* Numero selected del desplegable */
    color: var(--text-color);
}

.mat-mdc-select-arrow svg {
    /* Flecha del desplegable */
    fill: var(--text-color) !important;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
    border-color: var(--text-color);
}

.img-list {
    max-width: 100px;
}

.pokeball {
    max-height: 25px;
}