@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

:root {
    --navbar-color: rgb(245, 245, 245);
    --background-color: #ffffff;
    --text-color: #000000;
    --text-color-dark: #ffffff;
    --mdc-typography-caption-font-size: 1em;
   }

body{
    font-family: 'Roboto', sans-serif;
    background-color:  var(--background-color);
    color: var(--text-color)
}


