@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

:root {
    /* Base */
    --navbar-color-: rgb(32, 33, 35);
    --background-color: rgb(255, 255, 255);
    --text-color: #272626;
    --card-background: rgb(255, 255, 255);
    --mdc-typography-caption-font-size: 1em;
    --invert: invert(0%) --mdc-typography-caption-font-size: 1em;

    /* Light mode */
    /*     --navbar-color-light: rgb(32,33,35);
    --background-color-light: rgb(255, 255, 255);
    --text-color-light: #272626;
    --card-background-light: rgb(255, 255, 255);
    --invert-light: invert(0%) */

    /* Dark mode */
    /*     --navbar-color-dark: #353641;
    --background-color-dark: #444654;
    --text-color-dark: #f1f0f0;
    --card-background-dark: #353641;
    --invert-dark: invert(90%) */

}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color)
}

.invert {
    filter: var(--invert)
}

a {
    color: var(--text-color) !important;
}

.card {
    background-color: var(--card-background) !important;

}

.mat-mdc-paginator {
    /* Paginator background */
    background-color: var(--background-color);
    color: var(--text-color);
}

.mat-mdc-paginator-icon {
    /* Flechas usables  */
    fill: var(--text-color);
}

.mat-mdc-icon-button[disabled] .mat-mdc-paginator-icon {
    /* Flechas desabilitadas */
    fill: rgb(161, 172, 182);
}

.mat-mdc-select-value {
    /* Numero selected del desplegable */
    color: var(--text-color);
}

.mat-mdc-select-arrow svg {
    /* Flecha del desplegable */
    fill: var(--text-color) !important;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
    border-color: var(--text-color);
}

.img-list {
    max-width: 100px;
}

.pokeball {
    max-height: 25px;
}
